@media only screen and (max-width: 767px) {
  #footer {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media only screen and (max-width: 767px) {
  .ui.top.sticky {
    width: 100% !important;
    margin-left: 0em !important; } }

.popup .list {
  text-align: left; }
